MINIO_ROOT_USER=changeme
MINIO_ROOT_PASSWORD=changeme
RABBITMQ_DEFAULT_USER=changeme
RABBITMQ_DEFAULT_PASS=changeme

ConnectionStrings__DefaultConnection=Host=localhost;Port=5433;Database=WarehouseDbCodeFirst;Username=changeme;Password=changeme
ConnectionStrings__NotificationsDb=Host=localhost;Port=5433;Database=WarehouseNotificationsDb;Username=changeme;Password=changeme

MinIO__AccessKey=changeme
MinIO__SecretKey=changeme

RabbitMq__Username=changeme
RabbitMq__Password=changeme
